<h1>Westeros Family Finder</h1>


<%= form_tag("/search", method: "get") do %>
  <%= select_tag(:house, options_for_select([
  ['Stark', 'stark'],
  ['Lannister', 'lannister'],
  ['Targaryen', 'targaryen'],
  ['Tyrell', 'tyrell'],
  ['Greyjoy', 'greyjoy']
  ])) %>
  <%= submit_tag("Get Members") %>
<% end %>
